<!--
    HEADER TITLES AND BUTTONS
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button title='{{"65"|translate}}' ion-button (click)="viewCtrl.dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="modalType === 'getCi'" class="firstCap">{{"14"|translate}} {{"53"|translate}} {{"82"|translate}} {{modalTitle}}</ion-title>
    <ion-title *ngIf="modalType === 'getSi'" class="firstCap">{{"18"|translate}} {{"53"|translate}} {{"14"|translate}} {{modalTitle}}</ion-title>
    <ion-title *ngIf="modalType === 'addCi'" class="firstCap">{{"52"|translate}} {{"14"|translate}} {{"53"|translate}} {{modalTitle}}</ion-title>
    <ion-title *ngIf="modalType === 'addSi'" class="firstCap">{{"52"|translate}} {{"18"|translate}} {{"53"|translate}} {{si_id}}</ion-title>
    <ion-title *ngIf="modalType === 'addSiScore'" class="firstCap">{{"25"|translate}} {{si_id}}</ion-title>
    <ion-title *ngIf="modalType === 'addSiIssue'" class="firstCap"> {{"29"|translate}}  {{"53"|translate}} {{si_id}}</ion-title>
    <ion-buttons end>
      <button title='{{"67"|translate}}' *ngIf="modalType === 'getCi' && (loggedRole == 'ROLE_CIDE_COORDINATOR' || loggedRole == 'ROLE_CIDE_ADMIN')" (click)="createCIModal(estabId,modalTitle)" ion-button >
        <ion-icon name="add-circle" style="font-size: 50px"></ion-icon>
      </button>
      <button title='{{"70"|translate}}' *ngIf="modalType === 'getSi' && (loggedRole == 'ROLE_CIDE_COORDINATOR' || loggedRole == 'ROLE_CIDE_ADMIN')" (click)="createSIModal(ciHashedId)" ion-button >
        <ion-icon name="add-circle" style="font-size: 50px"></ion-icon>
      </button>
      <button title='{{"68"|translate}}' *ngIf="modalType === 'addCi'" ion-button type="submit" form="addCi">
        <ion-icon name="checkmark-circle" style="font-size: 50px"></ion-icon>
      </button>
      <button title='{{"69"|translate}}' *ngIf="modalType === 'addSi'" ion-button type="submit" form="addSi">
        <ion-icon name="checkmark-circle" style="font-size: 50px"></ion-icon>
      </button>
      <button title='{{"72"|translate}}' *ngIf="modalType === 'addSiScore' && loggedRole != 'ROLE_CIDE_COORDINATOR' && loggedRole != 'ROLE_CIDE_ADMIN'" ion-button type="submit" form="addSiScore">
        <ion-icon name="checkmark-circle" style="font-size: 50px"></ion-icon>
      </button>
      <button title='{{"73"|translate}}' *ngIf="modalType === 'addSiIssue' && loggedRole != 'ROLE_CIDE_COORDINATOR' && loggedRole != 'ROLE_CIDE_ADMIN'" ion-button type="submit" form="addSiIssue">
        <ion-icon name="checkmark-circle" style="font-size: 50px"></ion-icon>
      </button>
      <button title='{{"71"|translate}}' (click)="closeModal()" ion-button >
        <ion-icon name="close-circle"  style="font-size: 50px"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<!--
      MODAL WINDOW PROVIDING DISPLAYING LIST OF COORDINATED INSPECTIONS FOR SELECTED ESTABLISHMENT
-->
<ion-content padding *ngIf="modalType === 'getCi'">
  <ion-grid text-center>
    <ion-row style="background-color: antiquewhite">
      <ion-col>ID</ion-col>
      <ion-col>{{"15"|translate}}</ion-col>
      <ion-col>{{"19"|translate}}</ion-col>
      <ion-col>{{"16"|translate}}</ion-col>
      <ion-col *ngIf="loggedRole == 'ROLE_CIDE_COORDINATOR' || loggedRole == 'ROLE_CIDE_ADMIN'">{{"22"|translate}}</ion-col>
      <ion-col>{{"23"|translate}}</ion-col>
    </ion-row>
    <ion-row *ngFor="let e of coordinated" justify-content-center align-items-center>
      <ion-col>{{e.id}}</ion-col>
      <ion-col>{{e.inspection_date | date:'dd/MM/yyyy'}}</ion-col>
      <ion-col>{{e.inspection_type}}</ion-col>
      <ion-col>{{e.inspection_coordinator}}</ion-col>
      <ion-col *ngIf="e.inspection_report == null && (loggedRole == 'ROLE_CIDE_COORDINATOR' || loggedRole == 'ROLE_CIDE_ADMIN')" >
        <input type="file" (change)="uploadReport($event,e.id,'coordinated')"/>
      </ion-col>
      <ion-col *ngIf="e.inspection_report != null && (loggedRole == 'ROLE_CIDE_COORDINATOR' || loggedRole == 'ROLE_CIDE_ADMIN')">
        <button ion-button (click)="openCiReportDownloadNewTab(e.id)"><ion-icon name="download"></ion-icon></button>
        <button title='{{"110"|translate}}' ion-button (click)="deleteCiReport(e.id)" color="danger"><ion-icon name="trash" ></ion-icon></button>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <button title='{{"75"|translate}}' *ngIf="e.si_count > 0" ion-button (click)="openSIModal(e.id)">
            <ion-icon name="list">({{e.si_count}})</ion-icon>
          </button>
          <button title='{{"74"|translate}}' *ngIf="e.si_count  == 0 && (loggedRole == 'ROLE_CIDE_COORDINATOR' || loggedRole == 'ROLE_CIDE_ADMIN')" ion-button (click)="createSIModal(e.id)">
            <ion-icon name="add"></ion-icon>
          </button>
          <button title='{{"76"|translate}}' *ngIf="e.si_count  == 0 && (loggedRole == 'ROLE_CIDE_COORDINATOR' || loggedRole == 'ROLE_CIDE_ADMIN')" ion-button (click)="deleteCoordinatedInspection(e.id)" color="danger">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--
    MODAL WINDOW DISPLAYING LIST OF SPECIFIC INSPECTIONS FOR SELECTED COORDINATED INSPECTION
-->
<ion-content padding *ngIf="modalType === 'getSi'">
  <ion-grid text-center>
    <ion-row style="background-color: antiquewhite">
      <!--<ion-col>ID</ion-col>-->
      <ion-col>{{"19"|translate}}</ion-col>
      <ion-col>{{"15"|translate}}</ion-col>
      <!--<ion-col>{{"54"|translate}}</ion-col>-->
      <ion-col>{{"81"|translate}}</ion-col>
      <ion-col>{{"112"|translate}}</ion-col>
      <ion-col>{{"113"|translate}}</ion-col>
      <ion-col>{{"23"|translate}}</ion-col>
      <ion-col>{{"24"|translate}}</ion-col>
    </ion-row>
    <ion-row *ngFor="let e of specific" justify-content-center align-items-center>
      <!--<ion-col>{{e.id}}</ion-col>-->
      <ion-col>{{e.spec_inspection_type}}</ion-col>
      <ion-col>{{e.spec_inspection_date | date:'dd/MM/yyyy'}}</ion-col>
      <!--<ion-col>{{e.spec_inspection_organisation}}</ion-col>-->
      <ion-col *ngIf="e.spec_inspection_report == null">
        <input type="file" (change)="uploadReport($event,e.id,'specific')"/>
      </ion-col>
      <ion-col *ngIf="e.spec_inspection_report != null">
        <button title='{{"77"|translate}}' ion-button (click)="openSiReportDownloadNewTab(e.id)"><ion-icon name="download"></ion-icon></button>
        <button title='{{"110"|translate}}' ion-button (click)="deleteSiReport(e.id)" color="danger"><ion-icon name="trash" ></ion-icon></button>
      </ion-col>

      <ion-col *ngIf="e.spec_inspection_sms_form == null">
        <input type="file" (change)="uploadSMSForm($event,e.id,'specific')"/>
      </ion-col>
      <ion-col *ngIf="e.spec_inspection_sms_form != null">
        <button title='{{"114"|translate}}' ion-button (click)="openSiSmsFormDownloadNewTab(e.id)"><ion-icon name="download"></ion-icon></button>
        <button title='{{"115"|translate}}' ion-button (click)="deleteSiSMSForm(e.id)" color="danger"><ion-icon name="trash" ></ion-icon></button>
      </ion-col>

      <ion-col *ngIf="e.spec_inspection_minutes== null">
        <input type="file" (change)="uploadMinutes($event,e.id,'specific')"/>
      </ion-col>
      <ion-col *ngIf="e.spec_inspection_minutes != null">
        <button title='{{"116"|translate}}' ion-button (click)="openSiMinutesDownloadNewTab(e.id)"><ion-icon name="download"></ion-icon></button>
        <button title='{{"117"|translate}}' ion-button (click)="deleteSiMinutes(e.id)" color="danger"><ion-icon name="trash" ></ion-icon></button>
      </ion-col>

      <ion-col>
        <ion-buttons>
          <button title='{{"75"|translate}}' *ngIf="e.si_count > 0" ion-button (click)="openSIModal(e.id)">
            <ion-icon name="list">  ({{e.si_count}})</ion-icon>
          </button>
          <button title='{{"74"|translate}}' *ngIf="e.si_count  == 0 && (loggedRole == 'ROLE_CIDE_COORDINATOR' || loggedRole == 'ROLE_CIDE_ADMIN')" ion-button (click)="createSIModal(e.id)">
            <ion-icon name="add"></ion-icon>
          </button>
          <button title='{{"78"|translate}}' ion-button (click)="deleteSpecificInspection(e.id)" *ngIf="(loggedRole == 'ROLE_CIDE_COORDINATOR' || loggedRole == 'ROLE_CIDE_ADMIN') && e.issues_count == 0 && e.crit_count == 0 " color="danger">
            <ion-icon name="trash"></ion-icon>
          </button>
          <button title='{{"72"|translate}}'  ion-button (click)="openSIScoreModal(e.id)">
            <ion-icon name="calculator"></ion-icon>
          </button>
          <button title='{{"73"|translate}}' ion-button (click)="openSIIssueModal(e.id)" color="secondary">
            <ion-icon name="bug"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
      <ion-col disabled>{{e.spec_inspection_updated | date:'dd/MM/yyyy'}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--
    MODAL WINDOW TO UPLOAD REPORT
-->

<ion-content padding *ngIf="modalType === 'uploadSiReport'">
  <form (ngSubmit)="changeListener($event,si_id)" id="uploadSiReport" [enctype]="multipart/form-data">
    <ion-input type="file" name="file"></ion-input>
    <ion-input type="submit" value="Upload"></ion-input>
  </form>
</ion-content>

<!--
    MODAL WINDOW DISPLAYING FORM TO CREATE NEW COORDINATED INSPECTION
-->
<ion-content padding *ngIf="modalType === 'addCi'">
  <form (ngSubmit)="insertCoordinatedInspection()" id="addCi">
    <ion-grid text-center>
      <ion-row style="background-color: antiquewhite" >
        <ion-col>ID</ion-col>
        <ion-col>{{"19"|translate}}</ion-col>
        <ion-col>{{"15"|translate}}</ion-col>
        <ion-col>{{"16"|translate}}</ion-col>
      </ion-row>
      <ion-row justify-content-center align-items-center>
        <ion-col>
          <ion-input type="text" [(ngModel)]="insertCIdata.id" name="id" value="{{estabId}}" disabled placeholder="{{estabId}}"></ion-input>
        </ion-col>
        <ion-col>
          <ion-select class="selector" interface="popover" placeholder='{{"19"|translate}}'  name="selected_ci_type" [(ngModel)]="selected_ci_type" [selectOptions]="ciList.options" >
            <ion-option *ngFor="let ci of ciList.ci_types; let i = index" value="{{ci.code}}" [selected]="ci.code == 'SMS'">{{ci.name}}</ion-option>
          </ion-select>
        </ion-col>
        <ion-col text-center="" >
          <!--<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="inspection_date" name="inspection_date"></ion-datetime>-->
          <input class="datum" type="date" [(ngModel)]="inspection_date" name="inspection_date" text-center=""/>
        </ion-col>
        <ion-col>
          <ion-input required type="text" [(ngModel)]="insertCIdata.coordinator" name="inspection_coordinator" disabled placeholder="{{loggedUname}}"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<!--
    MODAL WINDOW DISPLAYING FORM TO CREATE NEW SPECIFIC INSPECTION
-->
<ion-content padding *ngIf="modalType === 'addSi'">
  <form (ngSubmit)="updateCoordinatedInspection(ciHashedId)" id="addSi">
    <ion-grid text-center>
      <ion-row style="background-color: antiquewhite">
        <!--
        <ion-col>ID</ion-col>
        -->
        <ion-col text-center="">{{"19"|translate}}</ion-col>
        <ion-col text-center="">{{"15"|translate}}</ion-col>
        <ion-col text-center="">{{"54"|translate}}</ion-col>
      </ion-row>
      <ion-row>
        <!--
        <ion-col>
          <ion-input type="text" [(ngModel)]="si_id" name="id" value="{{si_id}}" disabled placeholder="{{estabId}}"></ion-input>
        </ion-col>
        -->
        <ion-col>
          <ion-select class="selector" interface="popover" placeholder='{{"19"|translate}}' name="si_type"  [(ngModel)]="selected_si_type" [selectOptions]="updateCidataForm.options" (ionChange)="getOrganisationForSIType(updateCidataForm.si_type)">
            <ion-option *ngFor="let ci of updateCidataForm.si_type" value="{{ci.code}}">{{ci.name}}</ion-option>
          </ion-select>
        </ion-col>
        <ion-col text-center="">
          <!--<ion-input type="date" name="si_date" [(ngModel)]="si_inspection_date"></ion-input>-->
          <input  class="datum" type="date" name="si_date" [(ngModel)]="si_inspection_date"/>
        </ion-col>
        <!--
        <ion-col>
          <ion-input type="text" name="si_inspector" [(ngModel)]="si_inspector" onclick=""></ion-input>
        </ion-col>
        -->
        <ion-col>
          <ion-select class="selector" interface="popover" [(ngModel)]="selected_si_inspector" name="selected_si_inspector">
            <ion-option *ngFor="let i of si_inspectors" value="{{i.id}}">{{i.username}}</ion-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>


<!--
    MODAL WINDOW DISPLAYING FORM TO CREATE NEW SCORING FOR A SPECIFIC INSPECTION
-->
<!--
VYPOCER SUMY PRE GRUPU PO VYBERE HODNOTY SCORE
(ionSelect)="insertGroupScore(i,s.value)"
-->
<ion-content padding *ngIf="modalType === 'addSiScore'">
  <form #scoreForm="ngForm" (ngSubmit)="updateSpecificInspectionScore(si_id)" id="addSiScore">
    <ion-grid text-center>
      <ion-row style="background-color: antiquewhite">
        <ion-col>{{"26"|translate}}</ion-col>
        <ion-col>{{"27"|translate}}</ion-col>
        <ion-col>{{"28"|translate}}</ion-col>
      </ion-row>
      <ion-label *ngFor="let e of si_criteria; let i=index" text-center [(ngModel)]="si_criteria_group_id[e.id]" [name]="'group_'+e.id" ngDefaultControl><b>{{e.value}}</b>
        <ion-row *ngFor="let f of e.criteria; let j=index">
          <ion-col text-wrap text-left [(ngModel)]="si_criteria[i]" [name]="'si_criteria_id_'+f.id" id="{{e.id}}_{{f.id}}" ngDefaultControl>{{f.value}}</ion-col>
          <ion-col text-left>
            <ion-select  class="selector" interface="popover" placeholder='{{"27"|translate}}'  id="{{f.id}}" [(ngModel)]="si_criteria[i].criteria[j].score" [name]="'score_'+f.id" >
              <!-- disabled="{{roleInspector}}"
              <ion-option *ngIf="si_criteria[i].criteria[j].score = ''" *ngFor="let s of si_criteria_score_list" [value]="s.id" >{{s.value}}</ion-option>
              <ion-option *ngIf="si_criteria[i].criteria[j].score != ''" [value]="si_criteria[i].criteria[j].score" >{{si_criteria[i].criteria[j].score}}</ion-option>
              -->
              <ion-option *ngFor="let s of si_criteria_score_list" [value]="s.id">{{s.value}}</ion-option>
              <!--<ion-option [value]="si_criteria[i].criteria[j].score" >{{si_criteria[i].criteria[j].score}}</ion-option>-->
            </ion-select>
          </ion-col>
          <ion-col text-center>
            <ion-textarea [(ngModel)]="si_criteria[i].criteria[j].note" [name]="'note_'+f.id" id="textarea_{{f.id}}" text-justify="" placeholder='{{"28"|translate}} ({{"56"|translate}})' ngDefaultControl maxlength="500"></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-grid>
  </form>
</ion-content>

<!--
    MODAL WINDOW DISPLAYING FORM TO CREATE NEW ISSUE FOR A SPECIFIC INSPECTION
-->

<ion-content padding *ngIf="modalType === 'addSiIssue'">
  <form #issueForm="ngForm" (ngSubmit)="updateSpecificInspectionIssue(si_id)" id="addSiIssue">
    <ion-grid text-center>
      <ion-row style="background-color: antiquewhite">
        <ion-col text-center="">ID</ion-col>
        <ion-col text-center="">{{"30"|translate}}</ion-col>
        <ion-col text-center="">{{"31"|translate}}</ion-col>
        <ion-col text-center="">{{"32"|translate}}</ion-col>
        <ion-col text-center="">{{"33"|translate}}</ion-col>
        <ion-col text-center="">{{"34"|translate}}</ion-col>
        <ion-col text-center="">{{"35"|translate}}</ion-col>
        <ion-col *ngIf="loggedRole != 'ROLE_CIDE_COORDINATOR' && loggedRole != 'ROLE_CIDE_ADMIN'" text-center="">{{"23"|translate}}</ion-col>
      </ion-row>
      <ion-row *ngFor="let issue of si_issues; let i=index">
        <ion-col>
          <ion-input type="text" disabled [name]="'id_'+issue.id" [(ngModel)]="si_issues[i].id" ></ion-input>
        </ion-col>
      <ion-col style="border: #f53d3d">
        <ion-textarea text-justify maxlength="2000" [name]="'issue_description_'+issue.id" id="textarea_{{issue.id}}" placeholder='{{"58"|translate}}' [(ngModel)]="si_issues[i].issue_description" ngDefaultControl></ion-textarea>
        <!--
        <ion-input clearInput type="textarea" text-justify maxlength="2000" [name]="'issue_description_'+issue.id" placeholder='{{"58"|translate}}' [(ngModel)]="si_issues[i].issue_description"></ion-input>
        -->
      </ion-col>
      <ion-col>
        <ion-select class="selector" interface="popover" placeholder='{{"37"|translate}}' [name]="'acc_prescriptions_'+issue.id" [(ngModel)]="si_issues[i].acc_prescriptions" (ionChange)="wasValued('acc_prescriptions_'+issue.id,si_issues[i].acc_prescriptions)">
          <ion-option value="true">{{"38"|translate}}</ion-option>
          <ion-option value="false">{{"39"|translate}}</ion-option>
        </ion-select>
      </ion-col>
      <ion-col text-center="">
        <!--<ion-input type="date" [name]="'deadline_warning_'+issue.id" [(ngModel)]="si_issues[i].deadline_warning" (ionChange)="wasValued('deadline_warning_'+issue.id,si_issues[i].deadline_warning)"></ion-input>-->
        <input  class="datum" type="date" [name]="'deadline_warning_'+issue.id" [(ngModel)]="si_issues[i].deadline_warning" (ionChange)="wasValued('deadline_warning_'+issue.id,si_issues[i].deadline_warning)" />
      </ion-col>
      <ion-col>
        <ion-select class="selector" interface="popover" placeholder='{{"40"|translate}}' [name]="'acc_warning_'+issue.id"  [(ngModel)]="si_issues[i].acc_warning" (ngModelChange)="warningChanged(si_issues[i].acc_warning)">
          <ion-option value="true">{{"38"|translate}}</ion-option>
          <ion-option value="false">{{"39"|translate}}</ion-option>
        </ion-select>
      </ion-col>
      <ion-col>
        <ion-textarea text-justify maxlength="2000" [name]="'des_indictment_'+issue.id" [(ngModel)]="si_issues[i].des_indictment" disabled="{{isEnabled}}"></ion-textarea>
        <!--
        <ion-input type="textarea" maxlength="2000" [name]="'des_indictment_'+issue.id" [(ngModel)]="si_issues[i].des_indictment" disabled="{{isEnabled}}"></ion-input>
        -->
      </ion-col>
        <ion-col text-center="">
          <!--<ion-input type="date" [name]="'last_update'+issue.id" [ngModel]="si_issues[i].last_update" ></ion-input>-->
          <input  disabled class="datum" type="date" [name]="'last_update'+issue.id" [ngModel]="si_issues[i].last_update" />
        </ion-col>
        <ion-col *ngIf="loggedRole != 'ROLE_CIDE_COORDINATOR' && loggedRole != 'ROLE_CIDE_ADMIN'">
          <ion-buttons>
            <button title='{{"79"|translate}}' type="button" ion-button (click)="delRowByNgModel(i)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-buttons>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-buttons end>
    <!--
    <button ion-button color="dark" [disabled]="si_issues.length == 1" (click)="delrow(si_id)">
      <ion-icon name="remove-circle" style="font-size: large"></ion-icon>
    </button>
    -->
    <button title='{{"80"|translate}}' ion-button color="dark" *ngIf="loggedRole != 'ROLE_CIDE_COORDINATOR' && loggedRole != 'ROLE_CIDE_ADMIN'" [disabled]="si_issues.length === maxQuantity" (click)="addrow(si_id)">
      <ion-icon name="add-circle" style="font-size: large"></ion-icon>
    </button>
  </ion-buttons>
</ion-content>

<ion-footer>
  <p text-center="">{{"3"|translate}}: {{loggedUname}}</p>
  <p text-center="">{{"6"|translate}}: {{loggedRole}}</p>
</ion-footer>
