<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button title='{{"65"|translate}}' ion-button large (click)="navCtrl.push('HomePage')">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{"9"|translate}}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="establishments;else no_data_templ">
  <ion-searchbar [(ngModel)]="terms" placeholder='{{"55"|translate}}'></ion-searchbar>
<!--
  <button ion-button type="button" (click)="sort()">Sort</button>
-->
  <ion-grid text-center>
    <ion-row style="background-color: antiquewhite">
      <!--
      <ion-col>ID</ion-col>
      -->
      <ion-col>OIB</ion-col>
      <ion-col>{{"57"|translate}}</ion-col>
      <ion-col>{{"10"|translate}}</ion-col>
      <ion-col>{{"11"|translate}}</ion-col>
      <ion-col>{{"12"|translate}}</ion-col>
      <ion-col>{{"13"|translate}}</ion-col>
    </ion-row>
      <ion-row  *ngFor="let e of establishments | search : terms "> <!-- | sort: {property: column, order: order} -->
        <!--
        <ion-col>{{e.id}} *ngIf="establishments != null"</ion-col>
        -->
        <ion-col>{{e.oib}}</ion-col>
        <ion-col>{{e.establishment_operator}}</ion-col>
        <ion-col>{{e.establishment_name}}</ion-col>
        <ion-col>{{e.establishment_municipality}}</ion-col>
        <ion-col>{{e.establishment_address}}</ion-col>
        <ion-col>
          <ion-buttons>
            <button title='{{"67"|translate}}' *ngIf="e.ci_count > 0" ion-button (click)="openCIModal(e.id,e.establishment_name)">
              <ion-icon name="list"> ({{e.ci_count}})</ion-icon>
            </button>
            <button title='{{"68"|translate}}' *ngIf="e.ci_count  == 0 && (loggedRole == 'ROLE_CIDE_COORDINATOR' || loggedRole == 'ROLE_CIDE_ADMIN')" ion-button (click)="createCIModal2(e.id,e.establishment_name)">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
  </ion-grid>
  </div>
</ion-content>

<ng-template #no_data_templ>
  <p text-center="" padding-top="20">{{"59"|translate}} {{loggedRole}}</p>
</ng-template>

<!--
<ion-content *ngIf="!establishments">
  <p text-center="" padding-top="20">{{"59"|translate}} {{loggedRole}}</p>
</ion-content>
-->
<ion-footer>
  <p text-center="">{{"3"|translate}}: {{loggedUname}}</p>
  <p text-center="">{{"6"|translate}}: {{loggedRole}}</p>
</ion-footer>
