<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button ion-button large (click)="navCtrl.push('HomePage')">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Establishments
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="terms" placeholder="Search by Name or OIB"></ion-searchbar>
<!--
  <button ion-button type="button" (click)="sort()">Sort</button>
-->
  <ion-grid text-center>
    <ion-row style="background-color: antiquewhite">
      <ion-col>ID</ion-col>
      <ion-col>OIB</ion-col>
      <ion-col>Operator</ion-col>
      <ion-col>Name</ion-col>
      <ion-col>Municipality</ion-col>
      <ion-col>Address</ion-col>
      <ion-col>Tools</ion-col>
    </ion-row>
    <ion-row *ngFor="let e of establishments | search : terms "> <!-- | sort: {property: column, order: order} -->
      <ion-col>{{e.id}}</ion-col>
      <ion-col>{{e.oib}}</ion-col>
      <ion-col>{{e.establishment_operator}}</ion-col>
      <ion-col>{{e.establishment_name}}</ion-col>
      <ion-col>{{e.establishment_municipality}}</ion-col>
      <ion-col>{{e.establishment_address}}</ion-col>
      <ion-col>
        <ion-buttons>
          <button *ngIf="e.ci_count > 0" ion-button (click)="openCIModal(e.id,e.establishment_name)">
            <ion-icon name="list"> ({{e.ci_count}})</ion-icon>
          </button>
          <button *ngIf="e.ci_count  == 0 && (loggedRole == 'ROLE_CIDE_COORDINATOR' || loggedRole == 'ROLE_CIDE_ADMIN')" ion-button (click)="createCIModal2(e.id,e.establishment_name)">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
